.section-process{
padding:10px;
color:#aaaaaa;
}
.section-process .active{
color:#000;
}

.orange-header{
/*background:#ff4e41;*/
background: #fff;
color:#fff;
padding:10px;
}
.orange-header img{
max-width:200px;
display:block;
margin:auto;
}

.footer{
padding:20px;
}
.logo-install-tpl{
    padding: 10px;
    align-content: center;
  }
  .logo-install-tpl img{
    display:block;
    margin:auto;
    max-width:100px;
    max-height:100px;
    width: auto;
    height: auto;
    position: relative;
  }